<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> JN </title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    
<style type="text/css">
table.striped>tbody>tr:nth-child(odd){
background-color: rgba(158, 154, 154, 0.5);
}
form input[type=submit]{
color: white;
}
</style>

</head>
<body>
<h3>JN Sistemas</h3><br/>
<h5>Cadastro de Usuarios</h5>
<div class="row">
<br/>
<div th:each = "m : ${msg}">
   <span th:text= ${m}></span>

</div>
<br/>
<form action="salvarpessoa" id="formpessoa" method="post" th:object="${pessoaobj}" class="col s12">

<div class="row">
<div class="input-field col s6">
<label for="id" class="active">ID</label>
<input name="id" th:field= "*{id}" id="id" readonly="readonly" >
</div>

<div class="input-field col s6">
<label for="nome" class="active">Nome</label>
<input placeholder="Informe o nome " name="nome" th:field= "*{nome}" id="nome" class="validate">
</div>
</div>

<div class="row">
<div class="input-field s6">
<label for="sobrenome" class="active">Sobrenome</label>
<input placeholder="Informe o sobrenome " name="sobrenome" th:field= "*{sobrenome}" id="sobrenome" class="validate">
</div>
<div class="input-field s6">
 <label for="sexoPessoa" class="active">Sexo</label>
<select class="browser-default" th:field="*{sexoPessoa}">
<option value=""disabled selected>--[Selecione]--</option>
<option value="MASCULINO" th:text="Masculino"/>
<option value="FEMININO" th:text="Feminino"/>
</select>
</div>
</div>


<div class="row">
<div class="input-field s6">
<input class="waves-effect waves-light btn" type="submit" value="Salvar">
<button type="button" class="btn btn-primary waves-effect waves-light" onclick="document.getElementById('formpessoa').reset();" >Novo</button>
</div>
</div>

</form>
</div>
<br/>
<br/>

<div class="row">
<form action="pesquisarpessoa" method="post" class="col s12">
<div class="row">
<div class="input-field col s12">
<label for="nomepesquisa" class="active">Pesquisa por nome:</label>
<input name="nomepesquisa" id="nomepesquisa" class="validate">
<input class="waves-effect waves-light btn" type="submit" value="buscar">
<a class="waves-effect waves-light btn" href="/listapessoas" >Lista de pessoas</a>
</div>
</div>

</form>

</div>

<br/>
<br/>
<table class="striped" >
<thead>
<tr>
<th>ID</th>
<th>NOME</th>
<th>SOBRENOME</th>
<th>EDITAR</th>
<th>EXCLUIR</th>

</tr>
</thead>
 <tr th:each = "pessoa : ${pessoas}">
 <td th:text = "${pessoa.id}"></td>
 <td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text = "${pessoa.nome}"></span></a></td>
 <td th:text = "${pessoa.sobrenome}"></td>
 <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
  <td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
 </tr>
</table>



<script type="text/javascript">



</script>

</body>
</html>