<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> JN </title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style type="text/css">
form input[type=submit]{
	color: white;
}
</style>


</head>
<body>

<h1>Obrigado por usar nosso sistema, até breve</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="SAIR"></input>
  </form>


</body>
</html>